.new {
  height: auto;
  width: 100%;

  background-image: url("./assets/bg.png");
  background-color: #693769;
  background-blend-mode: overlay;
  background-size: cover;
}

.btn {
  background: #1496de;
  color: white;
}

@media screen and (max-width: 600px) {
  .container-margin {
    margin-left: 5%;
    margin-right: 5%;
  }
}
